@media only screen and (max-width: 1200px) {
  .images {
    width: auto !important;
  }
  
  .images #img2 {
    display: none;
  }
}

@media only screen and (max-width: 850px) {
  
}

body, footer {
  font-family:'Roboto', Arial, Helvetica, sans-serif;
}

.site-header {
  background: url("../images/Castle-background.png") no-repeat center;
  background-size: cover;
  width: 100%;
  height: 450px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 10% 80% 10%;
}

.site-header a {
  font-size: 36px;
  color: #ffffff;
  font-weight: 700;
  text-decoration: none;
  margin-top: 30px;
}

.navbar {
  grid-column-start: 2;
  height: 12%;
  display: flex;
  align-items: center;
}

nav {
  flex: 1;
  text-align: right;
}

nav, ul, li {
  list-style: none;
  display: inline-block;
  margin-left: 60px;
}

.menu a {
  font-size: 20px;
  font-weight: 500;
  display: inline-block;
}

.fairy-tale-area {
  width: 100%;
  height: 460px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 10% 80% 10%;
}

.fairy-tale-container {
  grid-column-start: 2;
  width: 100%;
  height: 100%;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.fairy-tale-container .images {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-left: 30px;
}

.fairy-tale-container img:hover {
  opacity: 0.8;
}

.fairy-tale-container .title {
  display: flex;
  font-size: 30px;
  color: #000000;
  font-weight: 700;
  width: 100%;
}

.fairy-tale-container .description {
  font-size: 18px;
  color: #000000;
  font-weight: 400;
  margin-top: 24px;
  width: 100%;
  line-height: 21px;
}

.images #img2 {
  margin-left: 15px;
}

.places-area {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  background-color: #FFF4F2;
}

.places-container {
  grid-column-start: 2;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: flex-start;
}

.places-container .title {
  font-weight: 700;
  font-size: 32px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.places {
  width: 100%;
  display: flex;
  padding: 30px;
  border-radius: 35px;
  background-color: #ffffff;
  margin-bottom: 30px;
  box-sizing: border-box;
}

.places img:hover {
  opacity: 0.8;
}

.places .places-text {
  margin-left: 30px;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 21px;
}

.places-text .description {
  margin-bottom: 20px;
}

.places-text .place {
  font-weight: 700;
}

.places-text .movie {
  margin-bottom: 20px;
}

.places-text button {
  background-color: #4FA4AB;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  width: 156px;
  height: 39px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.places-text button:hover {
  opacity: 0.8;
}

footer {
  width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 10% 80% 10%;
}

footer .footer-content {
  grid-column-start: 2;
  box-sizing: border-box ;
  padding-top: 32px;
  width: 100%;
  height: 150px;
  display: flex;
  font-size: 18px;
}

footer .about {
  width: 350px;
}

footer .contact {
  margin-left: 120px;
  width: 350px;
}

footer .title {
  font-weight: 700;
  margin-bottom: 15px;
}